//
// Sections
//

.loading-screen {
  background-color: $background-primary;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @media (prefers-reduced-motion) {
    display: none;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(500);
  }
}

.loading-screen__logo {
  width: $space-2;
  transform-style: flat;
  backface-visibility: visible;
  transform-origin: center;
  animation-name: loadingAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.back-video-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/assets/img/first_frame_3.1.1_wide.jpg');
  background-size: cover;
  background-position: 90% center;
}
.back-video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-position: 80%;
  @media (prefers-reduced-motion) {
    display: none;
  }
}

.content-gradient {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    // $background-dark
    270deg,
    color.change($background-dark, $alpha: 0) 0%,
    color.change($background-dark, $alpha: 0.6) 50%,
    color.change($background-dark, $alpha: 0.6) 100%
  );

  @include tablet-up {
    width: $line-length + $space-4;
  }

  @include laptop-up {
    width: $line-length + $space-8;
  }
}

.section {
  position: relative;
  min-width: 100%;

  @include laptop-up {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    min-height: 100vh;
    justify-content: center;
    padding-right: 12rem; // TODO
  }
}

.section--first {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 100vh;
  justify-content: center;
}

.content {
  position: relative;
  max-width: 100%;
  width: $line-length;
  padding: $space-8 $space-1 $space-8;
  overflow: hidden;
  @include laptop-up {
    padding: $space-4 $space-4 $space-8;
  }
}

.content--members {
  width: $line-length * 1.5;
  max-width: 100%;
  // bottom same as .content
  padding: 0 $space-1 $space-8;
  @include laptop-up {
    padding: 0 $space-4 $space-8;
  }
}

.content--partners {
  width: $line-length * 1.5;
  max-width: 100%;

  padding: 0 $space-1 $space-8;
  @include laptop-up {
    padding: 0 $space-4 $space-8;
  }
}

.content--short {
  padding-bottom: 2rem;
}



// partners

.partner-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.partner-logos::after {
  content: "";
  flex: auto;
}

.partner-logos__a {
  flex: 1 1 50%;
  max-width: 50%;
  padding-right: $space-05;

  @include laptop-up {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}

.partner-logos__item {
  max-height: $space-2;
  width: auto;
  margin-top: $space-2;
}

.partner-logos__item--heigh {
  height: $space-2 + $space-05;
}

// members

.members-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.members-inner::after {
  content: "";
  flex: auto;
}
.member {
  padding: 0 $space-05 $space-05 0;
  display: flex;
  flex: 1 1 50%;
  color: $white-primary;
  text-decoration: none;
  max-width: 50%;
  @include tablet-up {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }

  @include desktop-up {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.member__data {
  @include border-radius;
  flex: 1 1 auto;
  background-color: color.change($background-primary, $alpha: 0.38);
  padding: $space-05;
  display: flex;
  align-items: center;
  &:hover {
    background-color: color.change($background-primary, $alpha: 0.87);
  }
}

.member__img {
  width: $space-2;
  height: $space-2;
  border-radius: 50%;
  margin-right: $space-05;
  background-color: $background-dark;
}
.member__name {
  @include body2;
  @include space-text-shadow;
  @include desktop-up {
    @include body1;
  }
}
.member__twitter {
  @include caption;
  @include space-text-shadow;
  color: $white-secondary;
  @include desktop-up {
    @include body2;
  }
}
.member:hover .member__name,
.member__name:hover {
}

// links
// mostly reuse memebers

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.socials::after {
  content: "";
  flex: auto;
}

.social-link {
  padding: 0 $space-1 $space-2 0;
  display: flex;
  flex: 1 1 100%;
  color: $white-primary;
  text-decoration: none;
  width: 100%;

  @include desktop-up {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

.social-link__data {
  width: 100%;
  @include border-radius;
  background-color: color.change($background-primary, $alpha: 0.38);
  padding: $space-05 $space-1;
}

.social-link__a {
  color: $white-primary;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 0 $space-1;
  text-decoration-color: $white-faded;

  &:hover {
    text-decoration-color: $white-primary;
  }
}

.social-icon {
  width: $space-1;
  height: $space-1;
  display: block;
  margin-right: $space-05;
  filter: #{"invert(1)"};
}

.social-link__title {
  margin: 0;
}

.social-link__media {
  max-width: 100%;
  height: auto;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.twitter-timeline {
  @include border-radius;
  background-color: color.change($background-primary, $alpha: 0.87);
  color: $white-primary;
}

#medium-widget .medium-widget-article__title {
  color: $white-primary;
  @include title2;
}
#medium-widget .medium-widget-article__description,
#medium-widget .medium-widget-article__author-name,
#medium-widget .medium-widget-article__date,
#medium-widget .medium-widget-article__clap {
  color: $white-secondary;
  @include body2;
}
#medium-widget .medium-widget-article__info {
  margin-top: $space-05;
}
#medium-widget .medium-widget-article__row {
  margin: 0;
}
#medium-widget .medium-widget-article__item {
  padding: 0;
}
#medium-widget .medium-widget-article__clap::before{
  filter: #{"invert(1)"};
}

.discord-widget {
  max-width: 100%;
}
