//
// Typography
//

h1,
.title-large {
  @include title-large;
}
h2,
.title1 {
  @include title1;
  margin-bottom: $space-1;
}
h3,
.title2 {
  @include title2;
}
h4,
.body1 {
  @include body1;
  font-weight: 700;
}

p,
.body1 {
  @include body1;
  @include text-shadow;
}
p + p {
  margin-top: $space-1;
}
.body2 {
  @include body2;
}

.caption {
  @include caption;
}

.caption--mini {
  @include caption-mini;
}

button,
.button {
  @include button;
  padding: $space-1 $space-05;
  text-decoration: none;
  display: inline-block;
}




.slogan {
  @include slogan;
  @include space-text-shadow;
  margin-bottom: $space-2;
}

.space-shadow {
  @include space-text-shadow;
}

.space-1 {
  margin-bottom: $space-1;
}
.space-2 {
  margin-bottom: $space-2;
}