//
// Variables
//

// Colors
$copper-light: #FBB583;
$copper-primary: #C58252;
$copper-dark: #915527;
$blue-light: #4E738F;
$blue-primary: #204561;
$blue-dark: #092134;
$background-light: #35424C;
$background-primary: #1E2833;
$background-dark: #0a0c0d;
$green-light: #5F9393;
$green-primary: #316565;
$green-dark: #0F2C2C;
$red-light: #FF7A80;
$red-primary: #CA4954;
$red-dark: #871D33;
$white-primary: rgba(255,255,255,0.87);
$white-secondary: rgba(255,255,255,0.60);
$white-faded: rgba(255,255,255,0.38);
$black-primary: rgba(0,0,0,0.87);
$black-secondary: rgba(0,0,0,0.60);
$black-faded: rgba(0,0,0,0.38);


// Typography
$source-sans: 'Source Sans Pro', ui-sans-serif, system-ui, -apple-system, sans-serif;
$line-length-long-form: 35rem;
$line-length: 38rem;

// Spacing
$space-025: 0.25rem;
$space-05: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-4: 4rem;
$space-6: 6rem;
$space-8: 8rem;

// $font-size-multi: 0.3rem;
$font-size-9: 4.7rem;
$font-size-8: 4.1rem;
$font-size-7: 3.5rem;
$font-size-6: 2.9rem;
$font-size-5: 2.3rem;
$font-size-4: 1.7rem;
$font-size-3: 1.4rem;
$font-size-2: 1.1rem;
$font-size-1: 0.85rem;
$font-size--1: 0.75rem;
$font-size--2: 0.7rem;
$font-size--3: 0.6rem;
$font-size--4: 0.55rem;

$opacity-primary: 0.87;
$opacity-secondary: 0.6;
$opacity-faded: 0.38;
